h1 {
  font-family: monospace;
  text-align: center;
  margin-bottom: 20px;
  animation: text-color 3s;
  animation-iteration-count: infinite;
}

.container {
  width: 500px;
  height: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: fantasy;
  font-size: xxx-large;
  color: white;
  text-align: center;
}

.box {
  width: 150px;
  height: 150px;
  background-color: teal;
  margin: 1px;
  border-radius: 10px;
  transition: all 0.5s;
  border: 5px solid teal;
  box-shadow: 1px 1px 15px black;
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:hover {
  border-color: turquoise;
}

.body {
  /* display: flex;
  direction: horizontal;
  justify-content: center;
  align-items: center; */
  background-image: linear-gradient(turquoise, white);
  padding-bottom: 25%;
}

@keyframes text-color {
  0% {
    color: white;
  }
  50% {
    color: grey;
  }
  100% {
    color: black;
  }
}
